.listitem{
  padding: 2px 0 2px 16px;
  .input-label{
    font-size: 12px;
  }

  input{
    width: 90%;
  }

  &.item-select{
    vertical-align: bottom;
    height: 62px;
    bottom: 0;
    margin-bottom: 20px;
  }
}

.item-select{
  .input-label {
    font-size: 14px;
  }
}

.item-content{
  white-space: initial;
}