.spinner{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.25);
  z-index: 10;
  svg{
    height: 50px;
    width: 50px;
    right: calc(50% - 25px);
    top: calc(50% - 25px);
    position: absolute;
  }
}