<ion-view title="Login">
  <ion-content padding="true" scroll="false" class="has-header button-bottom">
    <div class="content-container">
      <h4 class="text-center">
        Jobcenter App er din nemme vej til jobcenteret for virksomheder.
        For at vi kan kontakte dig skal vi bruge din email og et telefonnummer.
        <br/>
        <br/>
        Vi vil også gerne bede om dit navn og navnet på virksomheden samt postnummeret, hvor virksomheden er placeret.
        <br/>
        <br/>
        Du kan vælge at skrive virksomhedens p- nummer. Det giver os mulighed for at kende din branche og målrette vores informationer til dig.
      <br/>
      <br/>
      Dine oplysninger benyttes kun af jobcentre og videregives ikke til andre.</h4>
    </div>
    <div class="button-container">
      <a ui-sref="intro" class="button button-positive button-block">Ok</a>
    </div>
  </ion-content>
</ion-view>