<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <p>
      Jobcenter App er din nemme vej til jobcenteret for virksomheder.
      For at vi kan kontakte dig skal vi bruge din email og et telefonnummer.
    </p>

    <p>
      Vi vil også gerne bede om dit navn og navnet på virksomheden samt postnummeret, hvor virksomheden er placeret.
    </p>
    <p>Du kan vælge at skrive virksomhedens p- nummer. Det giver os mulighed for at kende din branche og målrette vores informationer til dig.</p>
    <p>Dine oplysninger benyttes kun af jobcentre og videregives ikke til andre.</p>
  </ion-content>
</ion-view>