<ion-view title="Intro">
  <ion-content padding="true" scroll="false" class="has-header button-bottom">
    <div class="row row-center content-container">
      <h3 class="text-center">Velkommen til jobcenter app. <br>
        Udfyld venligst din profil, så vi kan give dig den bedst mulige service
      </h3>
    </div>
    <div class="button-container">
      <a ui-sref="login" class="button button-positive button-block ">Ok</a>
      <a ui-sref="hvorfor" class="button button-calm button-outline button-block ">Hvorfor?</a>
    </div>
  </ion-content>
</ion-view>