<ion-view title="Login" class="login" ng-init="Login.loginForm.$invalid = true"> <!--todo Tilpas størrelse på tekst-->
  <ion-content scroll="false" padding="false" class="has-header">
    <form name="Login.loginForm">
      <ion-list>

        <label class="item listitem item-input item-floating-label">
          <span class="input-label">Fornavn</span>
          <input required ng-model="Login.model.firstName" type="text" placeholder="Fornavn">
        </label>

        <label class="item listitem item-input item-floating-label">
        <span class="input-label">Efternavn</span>
          <input required ng-model="Login.model.lastName" type="text" placeholder="Efternavn">
        </label>

        <label class="item listitem item-input item-floating-label">
        <span class="input-label">Email</span>
          <input required ng-model="Login.model.email" type="email" placeholder="Email">
        </label>

        <label class="item listitem item-input item-floating-label">
        <span class="input-label">Telefon</span>
          <input required ng-model="Login.model.phone" type="tel" placeholder="Telefon">
        </label>

        <label class="item listitem item-input item-floating-label">
        <span class="input-label">Virksomhedens navn</span>
          <input required ng-model="Login.model.companyName" type="text" placeholder="Virksomhedens navn">
        </label>

        <label class="item listitem  item-floating-label">
        <span class="input-label">Virksomhedens postnummer</span>
          <input required ng-model="Login.model.companyAreacode" type="number" placeholder="Virksomhedens postnummer">
        </label>

        <label class="item listitem item-input item-floating-label">
        <span class="input-label">Virksomhedens Pnr</span>
          <input required ng-model="Login.model.Pnr" type="text" placeholder="Pnr">
        </label>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="footer">
    <button  ui-sref="main" class="button button-stable button-block footer__button">Gem</button>
    <!--todo style knap til at være lig med footer-->
    <!--todo indsæt ng-disabled="Login.loginForm.$invalid på button"-->
  </ion-footer-bar>
</ion-view>