<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <form>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Fornavn</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Efternavn</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Telefon</span>
          <input type="tel" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input">
        <span class="input-label">Virksomhedens navn</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Virksomhedens postnummer</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Pnr</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer"></div>
      <button ui-sref="main" class="button button-stable button-block ">Gem</button>
    </form>
  </ion-content>
</ion-view>