<ion-view title="{{}}">
  <ion-content padding="true" class="has-header">

    <button ui-sref="rekruttering" class="button button-dark button-outline button-block ">Rekruttering</button>
    <button ui-sref="løntilskud" class="button button-dark button-outline button-block ">Job med løntilskud</button>
    <button ui-sref="virksomhedspraktik" class="button button-dark button-outline button-block ">Virksomhedspraktik</button>
    <button ui-sref="fleksjob" class="button button-dark button-outline button-block ">Fleksjob</button>
    <button ui-sref="voksenlærlinge" class="button button-dark button-outline button-block ">Voksenlærlinge</button>
    <button ui-sref="jobservice" class="button button-dark button-outline button-block ">Jobservice</button>
    <button ui-sref="minside" class="button button-dark button-outline button-block ">Min side</button>

  </ion-content>
</ion-view>