<ion-view class="slide-left-right" title="Min side">
  <ion-content padding="false" class="has-header has-footer">

    <ion-list>
      <ion-item ui-sref="tak">
        <div class="item-icon-right">
          <h2>test</h2>
          <p>more test</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-positive tabs">
    <a class="tab-item" ui-sref="t">
      Min profil
    </a>
  </ion-footer-bar>
</ion-view>
