<ion-view class="slide-left-right" title="Min side">
  <ion-content padding="false" class="has-header has-footer">

    <ion-list>
      <ion-item ng-repeat="news in MyPage.news" ng-click="MyPage.goToMessage($index)">
        <div class="item-icon-right">
          <h2>{{::news.name}}</h2>
          <p>{{::news.text}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-custom">
    <button  ui-sref="login" class="button button-stable">Min profil</button>
  </ion-footer-bar>
</ion-view>
