<ion-view class="slide-left-right" title="Rekruttering">
  <ion-content padding="true" scroll="false" class="has-header">

    <h4 class="text-center">Hvad har du brug for?</h4>
    <ul class="list">
      <ion-radio-fix ng-model="choice" ng-value="'A'">Jeg har akut brug for medarbejdere</ion-radio-fix>
      <ion-radio-fix ng-model="choice" ng-value="'B'">Jeg forventer at have <br> for medarbejdere i<br> de kommende måneder.</ion-radio-fix>
    </ul>

    <div class="button-container">
      <button ng-click="Main.goAndRegister()" class="button button-stable button-block">Send</button>
      <!--todo style knap til at være lig med footer-->
      <!--todo indsæt ng-disabled="Login.loginForm.$invalid på button"-->
    </div>

  </ion-content>
</ion-view>