<ion-view class="slide-left-right" title="{{Questionaire.page.name}}">
  <ion-content padding="false" scroll="false" class="has-header">

    <h4 class="text-center">Hvad har du brug for?</h4>
    <ul class="list">
      <ion-radio-fix ng-repeat="choice in Questionaire.page.messages" ng-value="'A'">{{choice.name}}</ion-radio-fix>
    </ul>

    <div class="padding button-container">
      <button ng-click="Questionaire.goAndRegister()" class="button button-positive button-block">Send</button>
    </div>

  </ion-content>
</ion-view>