<ion-view class="slide-left-right" title="Rekruttering">
  <ion-content padding="true" class="has-header has-footer">

    <ul class="list">

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Jeg har akut brug for medarbejdere
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Jeg forventer at have brug for medarbejdere i de kommende måneder.
      </li>

      <ion-radio ng-model="choice" ng-value="'A'">Jeg har akut brug for medarbejdere</ion-radio>
      <ion-radio ng-model="choice" ng-value="'B'">Jeg forventer at have brug for medarbejdere i de kommende måneder.</ion-radio>
    </ul>

  </ion-content>
  <ion-footer-bar class="bar-positive tabs">
    <a ui-sref="tak" class="tab-item">
      Send
    </a>
  </ion-footer-bar>
</ion-view>